<form #f="ngForm" (submit)="onSubmitNewArticle($event,f)" >
  <input type="hidden" [value]="article.id"> <!-- ne pas oublier ce champ -->
  <div class="form-group">
      <label for="titre">titre</label>
      <input
          type="text"
          name="title"
          id="title"
          class="form-control"
          ngModel
          #titre="ngModel"
          required
          minlength="20"
          [value]="article.title"
          >
      <div class="alert alert-danger" *ngIf="title.touched && !title.valid">
          <div *ngIf="title.errors.required">le champ titre est obligatoire</div>
          <div *ngIf="title.errors.minlength">20 caratères minimum</div>
      </div>
  </div>
  <div class="form-group">
      <label for="contenu">contenu</label>
      <textarea
          name="contenu"
          id="contenu"
          rows="10"
          class="form-control"
          ngModel
          #contenu="ngModel"
          required
          minlength="3"
          maxlenght="1000"
          [value]="article.body"
          ></textarea>
      <div class="alert alert-danger" *ngIf="contains.touched && !contains.valid">
          <div *ngIf="contains.errors.required">le champ titre est obligatoire</div>
          <div *ngIf="contains.errors.minlength">20 caratères minimum</div>
          <div *ngIf="contains.errors.maxlenght">Limite de caractere atteinte</div>
      </div>
  </div>
  <div class="form-group">
      <input
          type="submit"
          value="Mis à jour"
          class="btn btn-warning"
          [disabled]="!f.valid"
          >
  </div>
</form>
<div class="alert alert-success" *ngIf="isOk">
  Article mis à jour
</div>
